header{
    margin: 0px;
    padding:20px
}
.container{
    margin: 0 auto;
    width: 1170px;
}

.header-left{

}

.header-right{
    font-weight: 40;
    width:60%;
    float:right;


}

.one-header{
    width:200px;
    float:right;
    display:block;
}

.one-header p{
    width:100% ;
}

.Message{
   
}

.About{

}

.Works{

}

.Contact{

}

body{
    margin: 0px;
}
.backgruoud{
    background-image: url("beach.jpg");
    background-size:cover;
    width: 100%;
    height: 600px;
    margin: 0 auto;

}
