*{
    margin:0px;
    padding:0px;
}
header{
    margin: 0px;
    padding: 50px;
    top:0px;
    z-index:10;
    background-color: rgba(245, 248, 249, 0.7);
    height: 20px;
    position:fixed;
    width: 100%;
}

.header-left{
    margin: 0px;
    top:px;
    position:absolute;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-right{
    float:right;
    width: 50%;
    display: flex;
    margin: 0px;
    top:0px;
    font-size:20px;
    font-family:Palatino Linotype;

}

.one-header{
    width:100px;
    margin:0px;
}

.one-header p{
    text-align: center;

}

.Message{

}

.About{

}

.Works{

}

.Contact{
 
}

body{
    margin: 0px;
}
.backgruoud{
    background-image: url("sky.jpg");
    background-size:cover;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    top:0px;

}

.explanation{
    top:300px;
    position: relative;
    float: right;
    width:50%;
    font-size: 18px;
    font-weight:300;
}
