*{
    margin:0px;
    padding:0px;
}

a {
    text-decoration: none;
    color: white;

  }

#title{
    margin: 0;
}
header{
    margin: 0px;
    padding: 50px;
    top:0px;
    z-index:10;
    background-color: rgba(0, 0, 0, 0.9);
    height: 20px;
    position:fixed;
    width: 100%;
    color:white;
    font-weight:600;
}

.header-left{
    margin: 0px;
    top:px;
    position:absolute;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-right{
    float:right;
    width: 52%;
    display: flex;
    margin: 0px;
    top:0px;
    font-size:20px;
    font-family:Palatino Linotype;

}

.one-header{
    padding: 0px 0px 0px 35px;
    margin:0px;
}

.one-header a{
    text-align: center;

}

.Message{

}

.About{

}

.Works{

}

.Contact{
 
}

body{
    margin:0px;
}
.backgruoud{
    background-image: url("sky.jpg");
    background-size:cover;
    width: 100%;
    height: 600px;
    margin: 0px;
    top:0px;

}

.explanation{
    top:300px;
    position: relative;
    float: right;
    width:50%;
    font-size: 18px;
    font-weight:300;
}

.main{
    min-width: 800px;
    margin:0px;
    padding:130px 0px 0px 0px;
}

.Entire-form{
    width: 70%;
    margin: 0px auto;
    padding: 50px;
    background-color: #F5F5F5;
    color: #333;
}

.Contitle{
    font-size:40px;
}

input[type="text"] {
    width: 30%;
}

textarea{
    width:100%;
    height: 100px;
}

input[type="submit"]{
    margin-top: 30px;
    width: 30%;
    border: 1px solid #5cb85c;
    border-radius: 4px;
    padding: 12px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    font-size: 14px;
    line-height: 1.428571429;
    color: black;
}